.task {
  display: flex;
  flex-direction: column;

  &--inprogress {
    .task__number {
      background-color: #5d5d5d;
    }
  }
  &--delayed {
    .task__number {
      background-color: #f9372c;
    }
  }
  &--comment {
    .task__number {
      background-color: #019ec1;
    }
  }
  &--done {
    .task__number {
      background-color: #1c9a13;
    }
  }

  &__header-wrapper {
    display: flex;
    gap: 8px;
    align-items: center;
  }

  &__number {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 16px;
    border-radius: 16px 0 16px 0;
    background-color: #5d5d5d;
    color: white;
    font-size: 16px;
    line-height: 20px;
    font-weight: 500;
  }

  &__status {
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
  }

  &__setting-icon {
    padding: 5px;
    margin-left: auto;
  }

  &__info {
    &-list {
      padding: 8px 16px 0;
      display: flex;
      flex-direction: column;
      gap: 8px;
    }

    &-item {
      display: grid;
      grid-template-columns: 60px auto;
      gap: 10px;

      &:last-child {
        padding: 0 0 8px;
        border-bottom: 1px solid #dbdbdb;
      }
    }

    &-field {
      display: flex;

      color: #444444;
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;
    }

    &-value {
      display: flex;

      color: #222222;
      font-weight: 500;
      font-size: 14px;
      line-height: 20px;
    }
  }

  &__text-wrapper {
    padding: 8px 16px 20px;
  }
}
